.form-group {
    margin-bottom: 1rem;
    
    span{
        color: #ff2600d6;
        padding-left: 2px;
    }

    label{
        margin-bottom: 0.5rem;
        font-weight: 500;
        text-align: justify;
    }
}