$red-color: #ff2600d6;

.form-group {
    margin-bottom: 1rem;
    
    span{
        color: $red-color;
        padding-left: 2px;
    }

    label{
        margin-bottom: 0.5rem;
        font-weight: 500;
        text-align: justify;
    }

    .error{
        color: $red-color;
        font-size: 0.8em;
        text-align: left;
        margin-bottom: 0;
    }
}