$button-color: #137dc5;

.btn-block-home {
    padding: 10px;
    display: block;
    background-color: $button-color !important;
    border-color: $button-color !important;
    margin: 20px auto;
}

.value-proposition div.row p{
    text-align: justify;
    margin: 0 2px;
    margin-top: 20px !important;
    padding: 0 40px;
}

.home-column-text{
    margin: auto 0px;
}

.home-logo{
    width: 25%;
    margin: 40px auto;
}

.card-row{
    ul {
        text-align: justify;
        li:first-child{
            margin-top: 10px;
        }
        li{
            margin-left: 40px;
        }
        margin-bottom: 0px !important;
    }
}

.auth-home{
    margin: auto 0px;
    a{
        width: 18vw;
    }
}

.home-row{
    margin: 40px 0;
    p{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
}

.skill-image{
    width: 100%;
}

.state-stats{
    margin-top: 50px !important;
}