.main_content {
    margin-top: 40px;
}

.profile-title {
    margin-top: 20px;
}

.profile-table{
    margin: 0 auto;
    width: 90%;
    
    td{
        width: 50%;
        padding-right: 20px;
    }
}

