.upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
  }
  
  .border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
  /*   border-radius: 4px; */
    padding: 20px;
  }
  
  .border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.65;
  }

  .border-container p.fileNames {
    margin-top: 0px !important;
  }