.resume-container {
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 20px;
  max-width: 50% !important;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  h4 {
    color: #130f40;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: -.5px;
    padding-bottom: 15px;
  }
}

.upload-container {
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 10px;
}

.border-container {
  border: 5px dashed rgba(198, 198, 198, 0.65);
  /*   border-radius: 4px; */
  padding: 20px;
}

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.65;
}

.border-container p.fileNames {
  margin-top: 0px !important;
}

.upload-table {
  margin: 0 auto;
  margin-top: 10px;

  th{
    padding-right: 20px;
  }
}

.is-diabled{
  cursor: not-allowed;
  opacity: 0.5;
}