.nav-highlight{
    font-weight: 700 !important;
}

.header {
    background-color: white !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.header-logo{
    height: 40px;
    padding: 0px;
}